<div class="container">
  <section class="show-post">
    <p id="notice"><%= notice %></p>

    <h1><%= @post.title %></h1>
    <% if current_user && current_user.id == @post.user.id %>
    <%= link_to "Edit", edit_post_url, :class => 'edit-post' %>
    <% end %>

    <p class='post-description'><%= @post.description %></p>

    <nav>
      <ul>
        <li class='author'>
          created by <%= link_to @post.user.username, user_url(@post.user.id) %>
        </li>
        <li class='share'>
          <a href="https://twitter.com/share?text=<%= @post.title %>" class="twitter-share-button" data-url="https://thefanschallenge.com/posts/<%= @post.id %>" data-via="FansChallenge" data-lang="en" data-count="none">Tweet</a>
        </li>
      </ul>
    </nav>
  </section>

  <%= render 'comment_form', post: @post if current_user %>

  <section class='comments'>
    <% @post.comments.reverse.each do |comment| %>
      <div class="comment">
        <section>
          <p class='comment-content'><%= comment.content %></p>
          <p class='comment-user-info'><%= link_to comment.user.username, user_url(comment.user.id) %> <i>-- <%= time_ago_in_words(comment.created_at) %> ago</i></p>
        </section>

        <aside>
          <p class='score'><%= pluralize(comment.votes_for, 'upvote') %> | <%= pluralize(comment.votes_against, 'downvote') %></p>
          <% if current_user.present? && !current_user.voted_on?(comment) %>
          <p class='voting'><%= link_to "upvote", upvote_comment_url(comment.id), :method => 'post' %> | <%= link_to 'downvote', downvote_comment_url(comment.id), :method => 'post' %></p>
          <% end %>
        </aside>
      </div>
    <% end %>
  </section>
